* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Playfair Display", serif;
  background-color: #0b1d26;
  background-image: url("./../img/bg/gi_background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
}

/* BASE */
.no-scroll {
  overflow-y: hidden;
}

.container-wide {
  margin: 0 auto;
  max-width: 1790px;
  padding: 0 15px;
}

.container-content {
  max-width: 1492px;
  margin: 0 auto;
  padding: 0 15px;
}

/* HEADER */
.header {
  padding-top: 64px;
  padding-bottom: 843px;
}
.nav-wrapper {
  margin-bottom: 198px;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
}
.nav ul {
  display: flex;
  column-gap: 40px;
  align-items: center;
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.nav li {
  font-size: 18px;
}

.nav a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease-in;
}
.nav a:hover {
  color: #fbd784;
}

.account {
  display: block;
  position: relative;
  padding-left: 30px;
  font-size: 17px;
  font-weight: 700;
  text-decoration: none;
  color: white;
  transition: color 0.3s ease-in;
}
.account::before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  content: "";
  width: 22px;
  height: 22px;
  background-image: url("./../img/icons/account.svg");
  background-repeat: no-repeat;
}
.account:hover {
  color: #fbd784;
}

.nav-button {
  outline: none;
  position: relative;
  z-index: 9;
  display: none;
  height: 25px;
  border: none;
  padding: 0;
  cursor: pointer;
  background: none;
}
.nav-button:focus,
.nav-button:active {
  outline: none;
}

.nav-button-icon {
  display: block;
  position: relative;
  border: none;
  background-color: white;
  width: 42px;
  height: 5px;
}
.nav-button-icon::before,
.nav-button-icon::after {
  content: "";
  position: absolute;
  display: block;
  width: 42px;
  height: 5px;
  background-color: #fff;
}
.nav-button-icon::before {
  left: 0;
  top: -10px;
}
.nav-button-icon::after {
  left: 0;
  bottom: -10px;
}

.nav-button-close .nav-button-icon {
  background-color: transparent;
}
.nav-button-close .nav-button-icon::after {
  transform: rotate(-45deg);
  top: 0;
}
.nav-button-close .nav-button-icon::before {
  transform: rotate(45deg);
  top: 0;
}

.mobile-nav {
  z-index: 8;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  width: 320px;
  height: 100%;
  padding: 70px 70px 50px 30px;
  background-color: rgba(11, 29, 38, 0.8);
}

.mobile-nav .nav,
.mobile-nav .account {
  display: block;
}
.mobile-nav .nav ul {
  flex-direction: column;
  align-items: flex-start;
}
.mobile-nav .nav ul li {
  margin: 0;
  margin-bottom: 25px;
}
/* INTRO */
.intro {
  display: block;
  margin: 0 auto;
  max-width: 980px;
  padding: 0 15px;
  color: white;
  text-decoration: none;
  transition: transform 0.2s ease-in;
}
.intro:hover {
  transform: translateY(-5%);
}

.intro-category {
  letter-spacing: 6px;
  padding-left: 104px;
  position: relative;
  font-weight: 800;
  font-size: 18px;
  color: #fbd784;
  line-height: 1.222;
  text-transform: uppercase;
}
.intro-category::before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  margin-bottom: 32px;
  content: "";
  background-color: #fbd784;
  width: 72px;
  height: 2px;
}

.intro-heading {
  margin-bottom: 33px;
  font-size: 80px;
  font-weight: 600;
  font-style: normal;
  line-height: 1.136;
  text-transform: capitalize;
}
.intro-scroll {
  display: inline-block;
  padding-right: 32px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.222;
  position: relative;
}
.intro-scroll::after {
  display: block;
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 24px;
  background-image: url("./../img/icons/arrow_down.svg");
}

/* ARTICLE */

.article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 200px;
}
.article:nth-child(even) {
  flex-direction: row-reverse;
}
.article-text {
  position: relative;
  padding-left: 150px;
  max-width: 782px;
  margin-right: 20px;
}
.article-text::before {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  left: 0;
  display: block;
  content: attr(data-number);
  width: 240px;
  height: 240px;
  font-size: 240px;
  line-height: 1;
  opacity: 0.1;
}

.article-subtitle {
  letter-spacing: 6px;
  padding-left: 104px;
  position: relative;
  font-weight: 800;
  font-size: 18px;
  color: #fbd784;
  line-height: 1.222;
  text-transform: uppercase;
  margin-bottom: 27px;
}
.article-subtitle::before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  content: "";
  background-color: #fbd784;
  width: 72px;
  height: 2px;
}
.article-title {
  max-width: 555px;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 1.203;
  margin-bottom: 27px;
}
.article p {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.77777;
  margin-bottom: 27px;
}
.article-read-more {
  position: relative;
  font-size: 18px;
  line-height: 1.208;
  color: #fbd784;
  text-decoration: none;
  padding-right: 40px;
}
.article-read-more::after {
  display: block;
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 16px;
  background-image: url("./../img/icons/arrow_right.svg");
}

/* FOOTER ---- */
.footer {
  padding-bottom: 120px;
}
.footer-row {
  display: flex;
  justify-content: space-between;
}
.container-content {
}
.footer-copyright {
  display: flex;
  flex-direction: column;
}
.footer-copyright-logo {
  margin-bottom: 24px;
}
.footer-copyright-desk {
  max-width: 303px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.78;
}
.footer-copyright-terms {
  margin-top: auto;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.78;
  opacity: 0.5;
}
.footer-nav-wrapper {
  display: flex;
  column-gap: 212px;
}
.footer-nav {
  max-width: 200px;
}
.footer-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer-nav li {
  margin-bottom: 11px;
}
.footer-nav li:last-child {
  margin-bottom: 0;
}
.footer-nav a {
  position: relative;
  color: white;
  text-decoration: none;
  padding-bottom: 5px;
}
.footer-nav-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.333;
  color: #fbd784;
  margin-bottom: 24px;
}
.footer-nav a::after {
  position: absolute;
  left: 0;
  bottom: -10px;
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fff;
  opacity: 0;
  transition: all 0.2s ease-in;
}
.footer-nav a:hover::after {
  bottom: 0;
  opacity: 1;
}
