@media (max-width: 1400px) {
  .header {
    padding-bottom: 425px;
  }
}

@media (max-width: 1200px) {
  .header {
    padding-bottom: 350px;
  }
  .intro-heading {
    font-size: 68px;
  }
  .article-text::before {
    width: 140px;
    height: 140px;
    font-size: 140px;
  }
  .article-text {
    padding-left: 50px;
    max-width: 50%;
    margin-right: 0;
  }
  .article-img {
    width: 45%;
  }
}

@media (max-width: 1100px) {
  .footer-nav-wrapper {
    column-gap: 90px;
  }
}

@media (max-width: 900px) {
  .footer-row {
    flex-direction: column-reverse;
  }
  .footer-nav-wrapper {
    margin-bottom: 60px;
  }
  .intro-heading {
    text-shadow: 0px 0px 15px #0009;
  }
}

@media (max-width: 800px) {
  .header {
    padding-bottom: 200px;
  }

  .nav,
  .account {
    display: none;
  }

  .nav-wrapper {
    margin-bottom: 90px;
  }

  .nav-button {
    display: block;
  }

  .mobile-nav-active {
    display: flex;
  }

  .intro-heading {
    font-size: 50px;
  }

  .intro-category::before {
    width: 42px;
  }
  .intro-category {
    font-size: 14px;
    padding-left: 62px;
  }
  .article-title {
    font-size: 35px;
  }
  .footer {
    padding-bottom: 60px;
  }
}

@media (max-width: 720px) {
  .article {
    flex-direction: column-reverse;
    margin-bottom: 85px;
  }
  .article:nth-child(even) {
    flex-direction: column-reverse;
  }
  .article-text {
    max-width: 100%;
  }
  .article-img {
    max-width: 100%;
    width: 100%;
    margin-bottom: 100px;
  }
  .article-img img {
    margin: 0 auto;
  }
}

@media (max-width: 560px) {
  .footer-nav-wrapper {
    flex-direction: column;
  }
  .footer-nav {
    margin-bottom: 70px;
  }
  .footer-nav:last-child {
    margin-bottom: 0;
  }
  .footer {
    padding-bottom: 50px;
  }
}
